/* To Define Styles to all Material component we used */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Custom CSS Classes */

.demo-toolbar {
    display: flex;
    align-items: center;
    width: 60%;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

mat-toolbar-row {
    justify-content: space-between;
}

.example-card {
  max-width: 400px;
}

.example-card p {
  font-size: 0.9em;
  line-height: 2em;
}

.example-header-image {
  background-image: url('https://www.freeiconspng.com/uploads/flat-face-icon-23.png');
  background-size: cover;
}

.tag {
    font-size: 2.2em;
}

.content-center {
    text-align: -webkit-center;
}
